body {
    font-family: Arial, sans-serif;
    background-color: #f6afe8;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

header {
    background-color: #deb48c;
    color: #4f2a2a;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #97c1e0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #f8b6b6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #f7d1d1;
}

section {
    background-color: #edb3b3;
    padding: 20px;
    border: 1px solid #e7b1b1;
}

footer {
    background-color: #412b2b;
    color: #e69494;
    text-align: center;
}